
/* tarif variable */
:root {
    --dark-color: #333;
    --max-width: 1100px;
    --back-color: #FFFAF0;
    --wh-color: #fff;
}

.category {
    --nature-color: #999595;
    --animal-color: #ff793f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Vazir" , Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: var(--back-color);
}

a {
    color: #333;
    text-decoration: none;
}

p {
    color: #333;
    margin: 0.85rem 0;
    text-align: justify;
}


img {
    /* dar fazaye khodesh 100% faza ra gerefte */
    width: 100%;
    border-radius: 15px;
    
}

h2 {
    color: #333;
}

p , a , h1 , h2 {
    font-weight: bold;
}


/* Utility */
.container {
    /* maximum fazaye site */
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}


.category {
    display: inline-block;
    color: #333;
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    background: var(--wh-color);
}

.category2 {
    display: inline-block;
    color: var(--wh-color);
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    background: rgb(0, 132, 255);
}


.cate{
    display: inline-block;
    color: #333;
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    background: antiquewhite;
    
}

.categories {
    display: block;
}

.cat {
    background-color: var(--back-color);
    padding: 0.3rem 0.4rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}



.btn {
    border: none;
    background: var(--dark-color);
    color: #fff;
    border-radius: 15px;
    padding: 00.5rem 1.5rem;
    margin-bottom: 5px;
}


.btn:hover {
    opacity: 0.8;
}

.card {
    background: var(--back-color);
    padding: 1rem;
}

.down {
    background: #fff;
    padding: 1rem;
    border-radius: 15px;
}

.im {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 2rem;
}

.hire {
    background-color: var(--wh-color);
    margin-bottom: 0.5rem;
    border-radius: 15px;
}


.txt {
    text-align: center;
}

.txt2 {
    display: inline-block;
    border-radius: 15px;
    color: var(--wh-color);
    background-color: rgb(0, 132, 255);
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
    margin-bottom: 0.5rem;
}

/* Inner page grid container */
.page-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}


#home-articles .articles-container article:first-child,
#home-articles .articles-container article:last-child {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    align-items: center;
    /* az soton 1 ta 2 ro begire  */
     grid-column: 1 / span 2; 
} 



